<div class="row">
    <h1>Menu des Pizzas</h1>
    <p><a href="/#/">Retour a l'accueil</a></p>

    <!-- filtre par categories -->
    <div class="container">
        <div class="form-group">
            <label class="col-md-2 control-label" for="selectbasic" translate="CATE">Tri par catégorie</label>
            <div class="col-md-2">
                <select ng-model="tri.categorie" id="selectbasic" name="selectbasic" class="form-control">
                    <option></option>                    <option  ng-value="'SANS'">SANS VIANDE</option>
                    <option  ng-value="'VIANDE'">VIANDE</option>
                    <option  ng-value="'POISSON'">POISSON</option>
                </select>
            </div>
        </div>

    </div>
    <!--Menu des pizzas-->
    <div class="container">
        <div class="col-sm-5 col-md-3" ng-repeat="pizza in pizz.allPizzas | filter : tri||undefined ">
            <div class="thumbnail">
                <div img-url="pizza.urlImage"></div>
                <div class="caption">
                    <h2>{{pizza.nom}}</h2>
                    <p>{{pizza.categorie}}</p>
                    <h3>{{pizza.prix | number:2}}€</h3>
                    <a href="#/pizza/{{pizza.id}}" class="btn btn-primary">Détails</a>
                </div>
            </div>

        </div>
    </div>

    <p><a href="/#/">Retour a l'accueil</a></p>
</div>