<!DOCTYPE html>
<html lang="fr" ng-app="pizzeria">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ma pizzeria</title>
	<link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
	<script src="js/bundle.js"></script>
</head>


<body>
	<div class="pull-right" ng-controller="translateCtrl as ctrl">
		<img ng-src='img/en.png' ng-click="ctrl.changeLanguage('en')" />
		<img ng-src='img/fr.png' ng-click="ctrl.changeLanguage('fr')" />
		
	</div>
	<my-directive></my-directive>
    <div class="jumbotron">
        <div class="container">
            <h1>Ma pizzéria</h1>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#/">Home</a></li>
                <li role="presentation"><a href="#/pizzas">Les pizzas</a></li>
                <li role="presentation"><a href="#/connection">Se connecter</a></li>
                <li role="presentation"><a href="#/inscription">S'inscrire</a></li>
            </ul>
        </div>
    </div>
    <div class="container" ng-view></div>
</body>

</html>