body {
    font-family: "Helvetica";
    background-color: #8B4513;
    background-image: url("http://3dpower.free.fr/Textures/Bois/bois13.jpg");
}
h1 {
    color: #96CA2D;
}
h2 {
    color: #228b22;
    }
    h3 {
    color: #ff0000;
    }
h4 {
    color: #00bfff;
}
p {
    color: #ffdead;
}
a {
    color: #96CA2D;
    text-decoration: none;
}
#navigation li {
  background-color: red;
    width: 100px;
    padding: 5px;
    border: 5px solid #FF7F50;
    margin: 0px;
display : inline-block;


}
#navigation li a {
}
#contact {
}


ul {
 padding:10;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:50px;
 float:right; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 background-color:#6495ED;
 color:navajowhite;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
ul li a:hover {
 background-color:#0000FF;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 

left {
  float:left;
  width : /* largeur de ton image rouge ou verte */
}
right {
  margin-left : /* largeur de ton image rouge ou verte */
  width : /* largeur de ton image bleu ou jaune */
}


ul{
     display: table;
     width:2700px;
     -webkit-animation: slideAnim 50s ease 0s infinite;
        -moz-animation: slideAnim 50s ease 0s infinite;
         -ms-animation: slideAnim 50s ease 0s infinite;
          -o-animation: slideAnim 50s ease 0s infinite;
             animation: slideAnim 15s ease 0s infinite;
}

ul li{
     display: table-cell;
     width:300px;
}

.translation{
    display: table;
     
     -webkit-animation: slideAnim 50s ease 0s infinite;
        -moz-animation: slideAnim 50s ease 0s infinite;
         -ms-animation: slideAnim 50s ease 0s infinite;
          -o-animation: slideAnim 50s ease 0s infinite;
             animation: slideAnim 15s ease 0s infinite;
}
@keyframes slideAnim{
from,11%,to {margin-left:-300px;}
15%,26%{margin-left:-600px;}
30%,41%{margin-left:-900px;}
45%,56%{margin-left:-1200px;}
65%,76%{margin-left:-1500px;}
80%,91%{margin-left:-1800px;}
99.99%{margin-left:-2100px;}
}






