body {
    font-family: "Helvetica";
    background-color: #EFECCA;
}
h1 {
    color: #C03000;
}
h2 {
    color: #4BB5C1;
}
a {
    color: #96CA2D;
    text-decoration: none;
}
#navigation li {
  background-color: red;
    width: 100px;
    padding: 5px;
    border: 5px solid white;
    margin: 0px;
display : inline-block;
}