.well {
    width: 250px;
    
}

body {
    font-family: "Helvetica";
}
h1 {
    color: #C03000;
}
h2 {
    color: #4BB5C1;
}
a {
    color: #96CA2D;
    text-decoration: none;
}
#navigation li {
    background-color: red;
    width: 100px;
    padding: 5px;
    border: 5px solid white;
    margin: 0px;
    display: inline-block;
}
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }
    
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    
    .actions .btn-info {
        float: left;
    }
    
    .actions .btn-danger {
        float: right;
    }
    
    table#cart thead {
        display: none;
    }
    
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
}