<div class="header-right">
    <div class="jumbotron">
        <div class="container">
            <img src="https://t3.ftcdn.net/jpg/00/67/92/24/240_F_67922468_l6YMk4NHxP3DHdNp5TgK1aVAMWHsHT0t.jpg" alt="pizzaPicture" class="img-responsive">
            <h2>Pizz'DTAdev</h2>
        </div>
        <h3><i>Les experts de la cuisson pour développeurs !</i></h3>
    </div>


    <div>
        <div>
            <h4>Ce que nous vous proposons</h4>
            <p>Bienvenue à La pizzeria du developpeur DTA, nous sommes une enseigne de pizzeria spécialiste des pizzas pour développeurs
                débutants ou expérimentés. Présent depuis 2012 dans plusieurs villes de France : 44800 Saint-Herblain, 53000 Laval, 34000
                Montpellier.</p>
            <p>Nous vous accueillons du lundi au samedi pour découvrir notre large choix de pizzas faites avec des produits locaux,pendant
                vos heures de travail ou de chez vous. Visitez notre site et commandez nos pizzas généreuses, en livraison ou à emporter.
                Merci pour votre visite et à bientôt.</p>
        </div>
        
    </div>
       
       
       <div>
  <div style="height: 305px; width: 450px; margin: auto">
    <div uib-carousel active="active" interval="home.myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in home.slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;" class ="">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
       

    <div>
        <a href="http://www.leparisien.fr/economie/restauration-en-france-la-pizza-est-reine-08-03-2016-5607715.php" class="article-pizza  colorbox-link"><img class="colorbox-class logo-elle-home alignnone" src="http://www.pizzeria-leborsalino.fr/img/photos/zoom/accueil_01.jpg"
						alt="logo-elle" width="30" height="30" /></a>
    </div>
</div>

